<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Welcome {{ session['fName'] }}</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<script src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>

		<script src="https://kit.fontawesome.com/e3d6e9bfcd.js"></script>
		<link rel="stylesheet" href="../static/style.css" />
		<style>
			.card {
				margin: 25px;
				margin-left: 50px;
				padding: 15px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark d-flex">
			<a class="navbar-brand mr-auto p-2" href="#">
				<img
					src="https://cutecdn.codingdojo.com/images/global/coding_dojo_logo_white_new.png"
					class="d-inline-block align-top"
					alt=""
				/>
			</a>
			<a href="./dashboard" class="h3 mr-auto p-2">Dashboard</a>
			<p class="h3 text-light p-2">Welcome {{ session['fName'] }}</p>
			<p class="btn bg-primary btn-sm  p-2">
				<a href="./logout" style="color: white">log out</a>
			</p>
		</nav>
		<main>
			<div class="errMsg">
				<!-- declare a variable called messages -->
				{% with messages = get_flashed_messages() %}
				<!-- check if there are any messages -->
				{% if messages %}
				<!-- loop through the messages -->
				{% for message in messages %}
				<!-- display each message in a paragraph tag -->
				<p>{{ message }}</p>
				{% endfor %} {% endif %} {% endwith %}
			</div>
			<div class="card col-sm-8">
				<h1>Users:</h1>
				{{ session['userId'] }}
				<p>{{ qry }}</p>
				{% for user in userList %}
				<p>{{ user }}</p>
				{% endfor %}
				<table class="table table-stripe table-hover">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for thisUser in userList %}
						<tr>
							<td>{{ thisUser['name'] }}</td>
							<td>{{ thisUser['email'] }}</td>
							{% if thisUser['follow']==1: %}
							<td><a href="./{{ thisUser['id'] }}/unfollow">Unfollow</a></td>
							{% else %}
							<td><a href="./{{ thisUser['id'] }}/follow">Follow</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
